<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이미지 업로드</title>
</head>
<body>
<h1>이미지 업로드</h1>

<form method="POST" enctype="multipart/form-data" action="/api/images">
    <input type="file" name="imageFile" accept="image/*" required>
    <input type="text" name="name" placeholder="이름을 입력하세요" required>

    <button type="submit">업로드</button>
</form>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<div th:if="${imagePath}">
    <p>업로드된 이미지:</p>
    <img th:src="${imagePath}" alt="Uploaded Image" width="300">
</div>


</body>
</html>